<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.OrderMapper">
    <cache></cache>
    <insert id="insert" parameterType="java.lang.String">
        INSERT INTO my_order (order_id) VALUES (#{orderId})
    </insert>

    <select id="select" resultType="java.lang.String">
        select order_id from my_order where order_id=#{id}
    </select>



</mapper>